
<ion-content>

  <ion-grid>
    <!-- Banner -->
    <ion-row>
      <ion-col size="10" offset="1" class="banner">
        <ion-img src="assets\icon\029-cinema.png" class="banner__image"></ion-img>
        <ion-text color="primary">
          <span class="banner__title">CinemApp</span>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- Login Fields -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary" position="stacked">Correo Electronico</ion-label>
          <ion-input type="text" inputmode="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" position="stacked">Contraseña</ion-label>
          <ion-input type="password" inputmode="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
